.ql-editor {
  margin: auto;
  padding: 1rem 1.5rem;
  text-align: justify;
  p,
  b,
  strong,
  em {
    font-size: 1rem;
    line-height: 1.62rem;
    margin: 0.81rem auto;
  }
  h2,
  h3,
  h4,
  b,
  strong {
    font-weight: var(--text-font__bold);
  }
  h2,
  h3,
  h4 {
    font-size: 1.3rem;
  }
  h2:nth-child(n + 2),
  h3:nth-child(n + 2),
  h4:nth-child(n + 2) {
    margin-top: 1.5rem;
  }
  .ql-align-center {
    border-bottom: solid 1px var(--secondary-color);
    font-style: italic;
    max-width: 600px;
  }
  blockquote {
    position: relative;
    font-style: italic;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    em {
      display: block;
      font-style: normal;
    }
    em::before {
      content: "- ";
    }
  }
  blockquote::before {
    content: open-quote;
    position: absolute;
    color: var(--secondary-color);
    top: 0.7rem;
    left: -0.7rem;
    font-size: 2.9rem;
  }
  blockquote::after {
    content: close-quote;
    visibility: hidden;
    position: absolute;
  }
  img {
    width: calc(100% + 48px);
    margin: 0 -24px;
    object-fit: cover;
    padding-bottom: 0.37rem;
  }
}

.picture-style {
  @media (min-width: 600px) {
    img {
      display: block;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }
  }
}

.article-style {
  @media (min-width: 600px) {
    img {
      float: right;
      margin-right: 0;
      width: 500px;
    }
    .ql-align-center {
      float: right;
      margin: 0 0 0.5rem 2rem;
      width: 490px;
    }
  }
}
