.ql-editor {
  margin: auto;
  padding: 1rem 1.5rem;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.7rem;
  h2,
  h3 {
    font-weight: var(--text-font__bold);
    font-size: 1.3rem;
  }
  p,
  h2,
  h3 {
    margin-bottom: 1rem;
  }
  b,
  strong {
    font-weight: var(--text-font__bold);
  }
  blockquote {
    font-style: italic;
    display: grid;
    border-left: solid 2px var(--secondary-color);
    padding: 0.5rem;
    margin: 0 0 12px;
    align-self: center;
    background: var(--primary-color-tint);
  }
  img {
    width: calc(100% + 3rem);
    margin: 0 -24px;
  }
  .ql-align-center {
    padding-bottom: 1rem;
    border-bottom: solid 1px var(--primary-color);
    font-style: italic;
    max-width: 600px;
  }
  .ql-align-right {
    text-align: left;
  }
  li::before {
    display: none;
  }
  ol,
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      padding: 0 !important;
      margin: 0 0 12px;
    }
  }
  @media (max-width: 600px) {
    font-size: 1.1rem;
    line-height: 1.5rem;
    h2,
    h3 {
      font-size: 1.1rem;
    }
  }
}

.picture-style {
  display: flex;
  flex-direction: column;
  align-items: start;
  .ql-align-center {
    margin: 0 auto 1rem;
  }
  @media (min-width: 600px) {
    img {
      display: block;
      width: 100%;
      max-width: 600px;
      padding-bottom: 1rem;
      margin: 0 auto;
      object-fit: cover;
    }
  }
}

.article-style {
  @media (min-width: 600px) {
    img {
      float: right;
      margin: 0 0 0 2rem;
      padding: 1rem 0;
      width: 500px;
    }
    .ql-align-center {
      float: right;
      text-align: right;
      margin: 0 0 0.5rem 2rem;
      padding: 0 0 1rem 0;
      width: 490px;
    }
  }
}
