:root {
  --title-font: Muli;
  --title-font__bold: 600;
  --title-font__normal: 400;
  --default-font: sans-serif;
  --text-font: Merriweather;
  --text-font__bold: 700;
  --text-font__normal: 400;
  --container-width: 996px;
  --article-list-ratio: 2.5fr;
}

.light-theme {
  --background-color: #ffffff;
  --background-color-faded: #fafafa;
  --primary-color: #c76a00;
  --primary-color-tint: #ffae0021;
  --primary-background-tint: #323232;
  --secondary-color: #9914CC;
  --secondary-color-tint: #edbeff2c;
  --text-main-color: #000000;
  --text-accent-color: #ffffff;
  --text-secondary-color: #787878;
  --text-faded-color: #adacac;
  --box-shadow: rgba(0, 0, 0, 0.16);
  --box-shadow-faded: rgba(0, 0, 0, 0.08);
}
.dark-theme {
  --background-color: #232323;
  --background-color-faded: #1d1d1d;
  --primary-color: #ffae00;
  --primary-color-tint: #ffae0021;
  --primary-background-tint: #2f2f38;
  --secondary-color: #19FF9A;
  --secondary-color-tint: #c0fbe227;
  --text-main-color: #ffffffe0;
  --text-accent-color: #ffffffe0;
  --text-secondary-color: #c4c4c4;
  --text-faded-color: #adacac;
  --box-shadow: rgba(25, 255, 154, 0.16);
  --box-shadow-faded: rgba(25, 255, 154, 0.08);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  font-family: var(--default-font);
  -webkit-overflow-scrolling: touch;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-main-color);
}
.block {
  display: block;
}
#app {
  color: var(--text-main-color);
  background-color: var(--background-color);
}
#page-head {
  height: 4rem;
}
#page-footer {
  height: 3rem;
}
