:root {
  --title-font: Muli;
  --title-font__bold: 600;
  --title-font__normal: 400;
  --default-font: sans-serif;
  --text-font: Merriweather;
  --text-font__bold: 700;
  --text-font__normal: 400;
  --container-width: 996px;
}

.light-theme {
  --background-color: #ffffff;
  --background-color-faded: #fafafa;
  --primary-color: #ffae00;
  --primary-color-tint: #f8cf76c7;
  --primary-background-tint: #323232;
  --secondary-color: #9914CC;
  --secondary-color-tint: #edbeff54;
  --text-main-color: #000000;
  --text-accent-color: #ffffff;
  --text-secondary-color: #787878;
  --text-faded-color: #adacac;
}
.dark-theme {
  --background-color: rgba(35, 35, 35, 1);
  --background-color-faded: #1d1d1d;
  --primary-color: #ffae00;
  --primary-color-tint: #f8cf76c7;
  --primary-background-tint: #2f2f38;
  --secondary-color: #19FF9A;
  --secondary-color-tint: #c2fbe373;
  --text-main-color: #ffffffe0;
  --text-accent-color: #ffffffe0;
  --text-secondary-color: #c4c4c4;
  --text-faded-color: #adacac;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  font-family: var(--default-font);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-main-color);
}
.block {
  display: block;
}
.top-banner {
  width: 100%;
  height: 90px;
}
#app {
  color: var(--text-main-color);
  background-color: var(--background-color);
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
#page-head {
  height: 4rem;
}
#page-footer {
  height: 3rem;
}
