.bang-gia {
  width: 100%;
  overflow: scroll;
}
.bang-gia > table {
  --border-property: solid 1px #dcdcdc;
  margin: auto;
  text-align: center;
  font-family: var(--title-font);
  border-spacing: 0;
  border: var(--border-property);
  background-color: var(--background-color);
  th {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    color: var(--text-secondary-color);
    border-bottom: var(--border-property);
    white-space: nowrap;
  }
  tr {
    height: 2.5rem;
    td {
      font-size: 0.85rem;
    }
  }
  tr:hover {
    color: var(--primary-color);
    border-bottom: var(--border-property);
  }
  .shaded {
    background: var(--background-color-faded);
  }
  .unbottom {
    border-bottom: none;
  }
  .small-project-header {
    width: 30%;
  }
  .small-investor-header {
    width: 30%;
  }
  .small-price-header {
    width: 20%;
    padding: 0 0.2rem;
  }
  .progress-header {
    min-width: 6rem;
  }
  .price-header {
    min-width: 5rem;
  }
  .torque-header {
    min-width: 4rem;
  }
  .origin-header {
    width: 6rem;
  }
  .project-cell,
  .investor-cell,
  .location-cell,
  .progress-cell,
  .sale-perks-cell,
  .contacts-cell,
  .others-cell,
  .price-cell-primary,
  .price-cell-secondary,
  .model-cell,
  .brand-cell,
  .type-cell,
  .origin-cell,
  .engine-cell,
  .torque-cell,
  .publish-at-cell {
    border-right: var(--border-property);
    padding: 0 0.5rem;
  }
  .border-right-reset {
    border-right: none;
  }
  .price-cell-primary {
    color: var(--primary-color);
  }
  .price-cell-secondary {
    color: var(--secondary-color);
  }
  .investor-cell {
    text-align: left;
  }
  .location-cell {
    white-space: nowrap;
  }
  .publish-at-cell {
    border-right: none;
  }
  .model-cell {
    text-align: left;
  }
  .origin-cell {
    white-space: nowrap;
  }
  @media (max-width: 374px) {
    th {
      font-size: 0.7rem;
    }
    tr > td {
      font-size: 0.65rem;
    }
  }
}
